body {
  background-color: black;
  overflow: hidden;
}

.text {
  display: table;
  color: white;
  margin: auto;
}

.button {
  padding: 0.5rem 2rem;
  border-radius: 12px;
  margin: auto;
  display: table;
  font-size: 16px;
  margin-top: 12px;
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 20% auto;
}
